nav {
  text-align: right;
  @include clearfix;

  a {
    text-decoration: none;
    padding: .5em;
    font-size: .8em;
    color: #011936;
  }

  #logout {
    margin: 1em;
    background: #EF8354;
    color: #011936;
    padding: .25em;
  }

}
